@import url("https://fonts.googleapis.com/css?family=Abel");

html,
body {
  height: 80%;
  font-family: "Abel", sans-serif;

  background-color: rgba(238, 216, 218, 0.8);
  margin: 0;
  padding: 0;
}

.nav_content {
  width: 100%;
  padding: 20px;
  /*
  background-repeat: no-repeat;
  background-size:cover;
  background-position:center center;
  box-shadow: inset 0 0 0 1000px rgba(255,255,255,.5);
*/
}
